<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfPrintServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

	  <bindings>
		  <basicHttpBinding>
			  <binding name="FileUploadServiceBinding" transferMode="Streamed"
        messageEncoding="Mtom"
        maxReceivedMessageSize="67108864" maxBufferSize="65536"
        closeTimeout="00:10:00" openTimeout="00:10:00"
        receiveTimeout="00:10:00" sendTimeout="00:10:00"/>
		  </basicHttpBinding>
	  </bindings>
<!--
	  <services>
		  <service behaviorConfiguration="WcfPrintServiceBehavior"
       name="WcfPrintService.Service1">
			  <endpoint address="" binding="basicHttpBinding"
      contract="WcfPrintService.IService1"
      bindingConfiguration="FileUploadServiceBinding">
			  </endpoint>
		  </service>		 
	  </services>
  -->
	  <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="UserDB" providerName="Npgsql" connectionString="Server=localhost; User Id=postgres; Password=; Port=5433; Database=multiprint;" />
    <!--
    <add name="UserDB" providerName="Npgsql" connectionString="Server=localhost; User Id=postgres; Password=; Port=5432; Database=Multi.mdf;" />
    -->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="Npgsql.NpgsqlServices, Npgsql.EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    </providers>
  </entityFramework>
	<system.data>
		<DbProviderFactories>
			<clear />
			<add name="Npgsql Data Provider" invariant="Npgsql"
     support="FF" description=".Net Framework Data Provider for Postgresql"
     type="Npgsql.NpgsqlFactory, Npgsql" />
		</DbProviderFactories>
	</system.data>
</configuration>